div,img,a{
	margin:0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
#logo{
	width:1200px;
	height:80px;
	text-align: center;
	margin:20px auto;
}
.banner{
	width: 100%;
	height:573px;
	background: url(../images/login/banner1.jpg) no-repeat center;
	margin:0px auto;
	position: relative;
	
}
.banner .register_bj{
	width: 395px;
	height:394px;
	  box-sizing: border-box;
	background-color: #fafafa;
	position: absolute;
	margin-top:60px;
	margin-left:800px;
	/*z-index: 8;*/
}
.banner .register_nav{
	width: 290px;
	height:45px;
    margin:0px auto;
    margin-top:20px;
}
.banner .register_nav .register_dd{
	width: 100%;
	height:45px;
    border: solid 1px #b3b3b3;
    font-size: 14px;
    padding: 13px 0 14px 5px;
}
/*手机号*/
.register_phote{
	width: 290px;
    margin:0px auto;
    box-sizing: border-box;
    margin-top:20px;
}
.register_phote input{
	width: 290px;
	height:45px;
    text-indent:10px;
    
}
/*密码*/
.register_pas{
	width: 290px;
    margin:0px auto;
    margin-top:5px;
}
/*注册*/
.signin_a{
	width: 290px;
	height:30px;
	margin:0px auto;
	line-height: 30px;
}
 .signin_a .signin_zc {
	float:left;
	color:#414141;
}
.signin_a .signin_forget{
	float:right;
	color:#414141;
}

 .signin_login{
	width: 290px;
	height:45px;
	
	text-align: center;
	line-height: 45px;
    margin:0px auto;
    margin-top:10px;
}
 .signin_login input{
 	width:100%;
 	background: rgb(65, 65, 65);
 	height:45px;
 	line-height: 45px;
 	border:none;
	color:#fff;
    font-size: 16px;
}
.register_bonter{
	width: 395px;
	height:66px;
	line-height: 66px;
	margin-top:20px;
	background-color:#c6c6c6;
	text-align: center;
    font-size: 16px;
     box-sizing: border-box;
}
.register_bonter a{
	font-size: 16px;
	color:#000;

}
.register_bonter img{
	width: 30px;
}
/*验证码*/
.register_phote .register_yzmpas{
	width: 100%;
	height: 51px;
	margin-top:5px;
	 box-sizing: border-box;
}
.register_phote .register_yzmpas input{
	width:150px;
	float:left;


}
.register_phote .register_yzmpas img{
   float:right;
	
}
/*提示信息*/
.reminder_validate{
	color: #EB2D47;
    font-size: 12px;
     /*visibility:hidden;*/
    width: 290px;
    height: 22px;
    margin:0px auto;
    margin-top:3px;
    line-height: 22px;
}